.heroes {
  margin: 0 0 2rem 0;
  list-style: none;
  padding: 0;
  max-width: 15rem;
}

.heroes li {
  cursor: pointer;
  position: relative;
}

.heroes li:hover {
  left: 1rem;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8rem 0.7rem 0 0.7rem;
  background-color: #405061;
  line-height: 1rem;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8rem;
  min-width: 0.8rem;
  text-align: right;
  margin-right: 0.8rem;
  border-radius: 4px 00 4px;
}

input {
  padding: 0.5rem;
}

a {
  text-decoration: none;
}
